@tailwind base;
@tailwind components;
@tailwind utilities;

/* Components Layer*/
@layer components {
  .footer_bs {
    @apply ml-[10px];
  }
}

/* Utilities Layer */
@layer utilities {
  .container {
    width: 1240px;
    max-width: 100%;
    margin: auto;
    padding: 0px 15px 0px 15px;
  }
}

nav a.active {
  color: #ff9900;
}

input {
  outline: none;
}

.active,
.dot:hover {
  background-color: #fff !important ;
}
